@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 92vh;
    width: 100%;
    position: relative;
    overflow: scroll;
}

.overbox {
    background-color: rgba(0, 0, 0, .65);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

nav {
    display: flex;
    width: 80%;
    height: 15vh;
    align-items: center;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
}

nav .leftnav {
    z-index: 1;
}

nav .rightnav{
    z-index: 1;
}

nav .rightnav button {
    font-size: 18px;    
    color: white;
    border: 1px solid white;
    padding: 8px 16px;
    border-radius: 10px;
}

nav .rightnav .lang{
    background: transparent;
}

.center {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    font-family: "Martel Sans", serif;
    text-align: center;
}

.center .hed {
    margin-top: 5px;
    font-size: 56px;
    line-height: 70px;
    font-weight: 900;
}

.center .para1 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.center .para2 {
    margin-top: 25px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

@media (max-width: 768px) {
    .center .hed {
        font-size: 40px;
        line-height: 50px;
    }

    .center .para1, .center .para2 {
        font-size: 14px;
    }
}

.btn{
    background-color: red;
    cursor: pointer;
}

.emailbox {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 44%;
    margin-left: 67px;
}

.emailinput {
    width: 80%;
    color: #fff;
    padding: 10px 15px;
    line-height: 24px;
    background-color: transparent;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.emailbtn {
    padding: 10px 20px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
    margin-right: 45px;
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}

@media (max-width: 768px) {
    .emailbtn {
        font-size: 16px;
        line-height: 16px;
    }

    .emailinput{
        font-size: 16px;
        line-height: 16px;
    }

    .emailbox{
        margin-top: 5px;
    }
}

.segment{
    height: 8px;
    position: relative;
    background-color: gray;
}

.join{
    height: 200vh;
    background-color: black;
    color: white;
}

.headjoin{
    font-size: 24px;
    font-weight: 500;
    padding-top: 60px;
    padding-left: 100px;
    font-family: "Martel Sans", serif;
}

.block {
    padding: 0 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px; 
    overflow-x: auto;
    overflow-y: hidden;
}

.join .block .sec1 {
    padding: 20px;
    position: relative;
    height: 35vh;
    width: 20vw;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    border-radius: 10px;
    font-family: "Martel Sans", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    justify-content: space-between;
}

.join .block .sec1 h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    color: #fff;
}

.join .block .sec1 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin: 10px 0;
    color: #ddd;
}

.join .block .sec1 img {
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 80px;
    height: auto;
}

.faq-section {
    max-width: 1200px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(45,45,45);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .faq-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 15px;
    margin: 10px;
  }
  
  .faq-toggle {
    display: none;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    background-color: rgb(45,45,45);
    transition: background-color 0.3s;
  }
  
  .faq-question h3 {
    font-size: 24px;
    color: white;
  }
  
  .faq-question .arrow {
    font-size: 18px;
    color: white;
    transition: transform 0.3s;
  }
  

   
  .faq-answer {
    display: none;
    padding: 15px 20px;
    background-color: rgb(45,45,45);
    color: white;
    font-size: 20px;
    line-height: 1.5;
  }
  
  .faq-toggle:checked ~ .faq-answer {
    display: block;
  }

  .sec8{
    margin: 20px auto;
  }